/* 自定义 */
#nav *::after {
  background-color: #ff0 !important;
}
#nav .site-name {
  font-size: 1.2em;
}
#nav .site-page {
  font-size: 1em;
}
/* 更改字体 */
@font-face {
  font-family: 'tzy';
/* 字体名自定义即可 */
  src: url("../fonts/ZhuZiAWan.woff2");
/* 字体文件路径 */
}
body {
  font-family: tzy !important;
}
